img {
	margin-left: auto;
	margin-right: auto;
	padding: 5em;
	display: block;
	position: center;
	padding-top: 0px;
	height: 463px;
	
}
html {
		background-color: black; 
		color: white;
}
body {
	font-family: Segoe Print;
}
#ban {
		height: auto;
		width: auto;
		max-width: 50%;
}